<div class="form__center">
  <div class="form__wrapper">
  <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
    
       <%= f.label :Nickname %> <em>6letter</em><br>
       <%= f.text_field :nickname, autofocus: true, class: :form__text, maxlength: "6" %> 
       <p></p>
        <%= f.label :email %><br>
        <%= f.email_field :email, autofocus: true, class: :form__text, autocomplete: "email" %>
        <p></p>
        <% if @minimum_password_length %>
        <%= @minimum_password_length %>
        <% end %>
        <%= f.label :password %><br>
        <%= f.password_field :password, class: :form__text, autocomplete: "new-password" %><br>
      
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, class: :form__text, autocomplete: "new-password" %>
       
        <p></p>
        <%= f.submit "Sign up", class: :form__btn %>
        <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
