<%= form_with(model: @tweet, local: true) do |form| %>
     <%= form.label :image, "Image" %><br />
     <%= form.file_field :image %>
      <p><%= form.text_field :title, placeholder: "Title" %></p>
      <p><%= form.text_area :text, placeholder: "Diary", rows: "3" %></p>
      <p><%= form.submit "SEND" %></p>
    <% end %>