 <p><%= @nickname %>Postlist</p>
 <%= link_to "Back", href="/", class: :card__user %>
  <div class="card__wrapper">
    <% @tweets.each do |tweet| %>
      <div class="card">
        <% tweet.images.first(1).each do |image| %>
         <%= image_tag image.variant(resize: '300x300'), class: "tweet-img" %><br>
        <% end %>
        <%= tweet.updated_at.strftime('%Y/%m/%d %H:%M:%S') %><br> 
        <strong><%= "Title: #{tweet.title}" %></strong><br>  
        <strong><%= "Dialy: #{tweet.text}" %></strong><br>
      </div>
    <% end %>
  </div>
