 <p><%= @nickname %>Postlist</p>
 <%= link_to "Back", href="/", class: :card__user %>
  <div class="card__wrapper">
    <% @tweets.each do |tweet| %>
      <div class="card">
        <%= image_tag tweet.image.variant(resize: '300x300') if tweet.image.attached? %><br> 
         <%if tweet.image.blank? %>
          <br>
          <br>
          <br>
          <br>
          <br>
         <% end %> 
        <strong><%= "Title: #{tweet.title}" %></strong><br>  
        <strong><%= "Dialy: #{tweet.text}" %></strong><br>
      </div>
    <% end %>
  </div>
