<!DOCTYPE html>
<html>
  <head>
    <title>Original2App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header wrapper">
      <%= link_to image_tag("logo.png", class: :logo), root_path %>
      <ul class="main-nav">
        <% if user_signed_in? %>
            <span><%= current_user.nickname %>
            <%= link_to "マイページ", "/users/#{current_user.id}" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <%= link_to "投稿する", new_tweet_path, class: "post" %>
        <% else %>
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
        <% end %>
      </ul>
    </header>
    <%= yield %>
    <footer>
      <div class="footer copyright">
        Copyright Original 2021.
      </div>
    </footer>
  </body>
</html>
